*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inspiration', cursive;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Rubik Mono One', sans-serif;;
}